#porthole {
  height: 256px;
  width: 256px;
  border-radius: 100%;
}

.btn-social-dark {
    border: 2px solid #000;
}

.btn-outline-dark {
  color: #000;
}

.social-text {
  font-size: 1.5em;
  margin-left: 1em;
}

.border {
  border: solid black 2px;
}
